RewriteEngine On

RewriteRule ^meta-community-standard/(.+)/?$ /meta-community-standard.php [L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]